.bg-light-grey {
  background-color: #e3e3e3;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.bg-light-blue {
  background-color: #c5c6ff97;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
